.cards {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
  }
  
.card{
    padding: 2rem;
    margin: 2rem;
    display: flex;
    width: 21%;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    outline: 0.2rem solid rosybrown;
  }

.card-head{
    font-size: 2.5rem;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin: 2rem;
  }
  
.card-img{
    padding: 10em;
    margin: 20em;
    display: flex;
    justify-content: center;
    height: auto;
  }
  
.add-button{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2em;
    padding: 0.5em;
  }