:root {
    --dark-blue: #021691;
    --blue: #0000FF;
    --light-blue: #87CEEB;
    --brown: #c58f5f;
    --h1: 7.594rem;
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
  }
  
  .light{
    --primary: var(--light-blue);
    --secondary: var(--blue);
  }
  .dark{
    --primary: var(--dark-blue);
    --secondary: var(--light-blue)
  }
  